<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icebox246.rcalc">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application android:allowBackup="false"
                 android:label="RCalc">


        <activity android:name="android.app.NativeActivity" 
	              android:configChanges="orientation|keyboardHidden" 
	              android:screenOrientation="portrait"
	              android:clearTaskOnLaunch="true">
            <meta-data android:name="android.app.lib_name" android:value="rcalc" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
